# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\h0033\Desktop\practice_code\practice\sql\.idea/dataSources/
/dataSources.local.xml
